*{margin: 0px;padding: 0px;}
li{list-style: none;}
img{border: none;}
a{text-decoration: none;}
body{
	background:#999999 ;
	height: 944px;
	/*position: absolute;*/
}
#box{
	width: 300px;
	height: 130px;
	background: #999999;
	position: absolute;left:50%;margin-left:-150px;top: 200px;
}
#box img{
	margin: 0px 38px;
}

#box2{
	width: 800px;
	height:250px;
	background: #999999;
	position: absolute;left:50%;margin-left:-300px;top:330px;
}
#code{
	width: 100px;
	height: 48px;
	background: #fff;
	outline:none;
	position: absolute;left:50%;margin-left:50px;top:68px;
	font-weight: 1000;
	font-family: "宋体";
	font-size: 20px;
}
#aj{
	font-size: 14px;
	position: absolute;left:50%;margin-left:150px;top:88px;
	color: #fff;
}
.p{
	width: 800px;
	height: 62px;
	font: 18px/62px "微软雅黑";
	color: #fff;
	font-weight: 1000;
}
#input1, #pw1{
	width: 430px;
	height: 51px;
	font-size: 18px;
	padding-left:20px ;
	font-weight: 1000;
	outline:none;
}
#input2{
	height: 51px;
	width: 319px;
	font-size: 18px;
	padding-left:20px ;
	font-weight: 1000;
	outline:none;
}
#box3{
	width: 457px;
	height: 50px;
	background: #999999;
	position: absolute;left:50%;margin-left:-200px;top:580px;
	padding-top: 30px;
}
#box3 p{
	font-size: 13px;
}
#box3 p span, #box3 p a{
	position: relative;left:0px;top:-2px;
}
#btn3{
	width: 430px;
	height: 51px;
	background: #25292e;
	position: absolute;left:50%;margin-left:-190px;top:660px;
}
#btn3 span{
	font:20px/51px "微软雅黑";
	color: #FFFFFF;
	margin-left: 165px;
}
#box4{
	width: 430px;
	height: 51px;
	background: #999999;
	position: absolute;left:50%;margin-left:-190px;top:710px;
}
#box4 ul li{
	margin-top: 12px;
	float: left;
	margin-left: 18px;
}
#box4 span{
	position: absolute;left:350px;top:12px;
	font-size: 18px;
	color: #fff;
	border-bottom: 1px solid #fff;
}
.l1:hover, .l2:hover, .l3:hover, .l4:hover{
	opacity: 0.5;
}
#box5{
	width: 200px;
	height: 60px;
	background: #999999;
	position: fixed;left:50%;margin-left:540px;top:690px;
}
#box5-1{
	width: 60px;
	height: 60px;
	background: yellow;
	float: right;
}
#box5-1 img{
	width: 60px;
	height: 60px;
}
#box5 span{
	color: #e8e8e8;
	font-size: 17px;
	position: absolute;left:0px;top:20px;
	margin-left: 20px;
}

